<section class="about-section-container">
    <div animate-directive>
        <div class='about-wrapper'>
            <h1 class="about-head">Amsterdam</h1>

            <h2 class="egg-head"><span class=egg-1>In 1990,</span><span class=egg-2>&nbsp; before most of you <a href="http://comicbook.com/2016/07/24/eevee-easter-egg-confirmed-for-pokemon-go/" target="_blank">eggs</a> even hatched,&nbsp;</span><span class="egg-3">I visited the <a href="https://www.rijksmuseum.nl/en/" target="_blank">Rijksmuseum</a>.</span></h2>

            <h4 class="great-head">It was one of the greatest days of my life.</h4>
            <div class="about-footer">

                <span>site by: Michael Lecke</span>
                <a href="http://rijksmuseum.github.io/" target="_blank">(api)</a>
                <span>image credits: Erik Smits, John Lewis Marshall</span>
                <a href="https://www.rijksmuseum.nl/en/presskit" target="_blank">(museum presskit)</a>


            </div>

        </div>

    </div>

</section>
