<section>
    <div class="gallery-template-container">
        <div>
            <img class="left-arrow" ng-click="getPreviousObject()" src="/img/icon-arrow-left.png" alt="arrow-left">
        </div>
        <div class="gallery">
          <img class="main-img" ng-src="{{data.webImage.url}}" alt="{{data.title}}">
          <h4 class="long-title">Title: {{data.longTitle}}</h4>
          <!-- <a href={{data.webImage.url}}>Link to large Web image</a> -->
          <a class="img-link" href={{data.links.web}} target="_blank">details</a>
        </div>
        <div>
                <img class="right-arrow" ng-click="getNextObject()" src="/img/icon-arrow-right.png" alt="arrow-right">
        </div>
        </div>

    </div>

</section>

<!-- <section>
    <div class="colors">
        <div ng-repeat="color in colors">
            <div class="swatch">
              {{color}}

            </div>
        </div>
    </div>
</section> -->
